// config for Parapipe processes

params {
  help = ""
  permissive = false

  // glob pattern for input files
  pattern = ""
  output_dir = ""
  input_dir = ""
  ref = ""

  // default parameters
  yaml = "false"
  read_n_threshold = 1000000
  mincov = 0.8
  missing = 0.1
  maf = 0.05
  mac = 5
  database = "/false/"
  }

profiles {
  singularity {

    singularity.enabled = 'true'
    singularity.autoMounts = 'true'

    // path to the singularity containers
    params.sif_dir = "${baseDir}/singularity"

    process {

      withName:getRefData {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:indexRefData {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:checkFqValidity {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:countReads {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:fastp {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:fastQC {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:multiQC {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:trimGalore {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:map2Ref {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:picard {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:summarise {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:callVariants {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:moi {
        container = "${params.sif_dir}/moi.sif"
      }

      withName:formatPhyloInput {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:molTyping_phylo {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:wgSNV_phylo {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:makeJSON {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:makeSampleReports {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:makeRunReport {
        container = "${params.sif_dir}/parapipe.sif"
      }
    }
  }
}
