// config for Parapipe processes

params {
  help = ""
  permissive = false

  // glob pattern for input files
  pattern = ""
  output_dir = ""
  input_dir = ""
  ref = ""

  // default parameters
  yaml = "false"
  read_n_threshold = 1000000
  mincov = 0.8
  missing = 0.1
  maf = 0.05
  mac = 5
  database = "/false/"
  }

profiles {
  singularity {

    singularity.enabled = true
    singularity.autoMounts = true

    // path to the singularity containers
    params.sif_dir = params.sif_dir ?: "${baseDir}/singularity"

    process {
      withName:captureEnv {
        container = "${params.sif_dir}/captureenv.sif"
      }

      withName:getRefData {
        container = "${params.sif_dir}/prepref.sif"
      }

      withName:indexGp60DB {
        container = "${params.sif_dir}/indexgp60db.sif"
      }

      withName:indexRefData {
        container = "${params.sif_dir}/prepref.sif"
      }

      withName:checkFqValidity {
        container = "${params.sif_dir}/fqchecks.sif"
      }

      withName:countReads {
        container = "${params.sif_dir}/fqchecks.sif"
      }

      withName:fastp {
        container = "${params.sif_dir}/fastp.sif"
      }

      withName:fastQC {
        container = "${params.sif_dir}/fastqc.sif"
      }

      withName:multiQC {
        container = "${params.sif_dir}/multiqc.sif"
      }

      withName:trimGalore {
        container = "${params.sif_dir}/trimgalore.sif"
      }

      withName:summarise {
        container = "${params.sif_dir}/summarise.sif"
      }

      withName:snippyCall {
        container = "${params.sif_dir}/snippy.sif"
      }

      withName:moi {
        container = "${params.sif_dir}/moi.sif"
      }

      withName:molTyping_phylo {
        container = "${params.sif_dir}/moltyping.sif"
      }

      withName:wgSNV_phylo {
        container = "${params.sif_dir}/wgsnv.sif"
      }

      withName:gp60BlooMine {
        container = "${params.sif_dir}/bloomine.sif"
      }

      withName:makeJSON {
        container = "${params.sif_dir}/reporting.sif"
      }

      withName:makeSampleReports {
        container = "${params.sif_dir}/reporting.sif"
      }

      withName:makeRunReport {
        container = "${params.sif_dir}/reporting.sif"
      }
    }
  }
}
