// config for Parapipe processes

profiles {
  singularity {

    singularity.enabled = 'true'
    singularity.autoMounts = 'true'

    // path to the singularity containers
    params.sif_dir = "${baseDir}/singularity"

    process {

      withName:downloadRefData {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:indexRefData {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:checkFqValidity {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:fastQC {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:multiQC {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:trimGalore {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:map2Ref {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:deduplication {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:gini {
        container = "${params.sif_dir}/preprocessing.sif"
      }

      withName:findSNPs {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:preprocessForPlotting {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:plotSNP {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:spades {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:indexAssembly {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:map2SPAdesFasta {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:pilon {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:abacas {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:liftover {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:quast {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:findSTRs {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:indexScaffolds {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:map2Scaffolds {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:STRViper {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:makeChromosomeFastas {
        container = "${params.sif_dir}/parapipe.sif"
      }

      withName:chromosomeAlignment {
        container = "${params.sif_dir}/parapipe.sif"
      }
    }
  }
}
